In [19]:
import pandas as pd
import numpy as np

df = pd.read_csv('naukri_com-job_sample.csv')
df.head()

,company,education,experience,industry,jobdescription,jobid,joblocation_address,jobtitle,numberofpositions,payrate,postdate,site_name,skills,uniq_id
0,MM Media Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,0 - 1 yrs,Media / Entertainment / Internet,Job Description Send me Jobs like this Quali...,210516002263,Chennai,Walkin Data Entry Operator (night Shift),NaN,"1,50,000 - 2,25,000 P.A",2016-05-21 19:30:00 +0000,NaN,ITES,43b19632647068535437c774b6ca6cf8
1,find live infotech,UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...,0 - 0 yrs,Advertising / PR / MR / Event Management,Job Description Send me Jobs like this Quali...,210516002391,Chennai,Work Based Onhome Based Part Time.,60.0,"1,50,000 - 2,50,000 P.A. 20000",2016-05-21 19:30:00 +0000,NaN,Marketing,d4c72325e57f89f364812b5ed5a795f0
2,Softtech Career Infosystem Pvt. Ltd,UG: Any Graduate - Any Specialization PG:Any P...,4 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this - as ...,101016900534,Bengaluru,Pl/sql Developer - SQL,NaN,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,c47df6f4cfdf5b46f1fd713ba61b9eba
3,Onboard HRServices LLP,UG: Any Graduate - Any Specialization PG:CA Do...,11 - 15 yrs,Banking / Financial Services / Broking,Job Description Send me Jobs like this - Inv...,81016900536,"Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...",Manager/ad/partner - Indirect Tax - CA,NaN,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,Accounts,115d28f140f694dd1cc61c53d03c66ae
4,Spire Technologies and Solutions Pvt. Ltd.,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,6 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Pleas...,120916002122,Bengaluru,JAVA Technical Lead (6-8 yrs) -,4.0,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,a12553fc03bc7bcced8b1bb8963f97b4

In [20]:
df.shape

(22000, 14)

In [22]:
df.describe()

              jobid  numberofpositions
count  2.200000e+04        4464.000000
mean   1.561171e+11          45.116935
std    9.423956e+10         186.197193
min    1.011600e+10           1.000000
25%    6.121650e+10           2.000000
50%    1.602169e+11           4.000000
75%    2.502166e+11          10.000000
max    3.112155e+11        2000.000000

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 14 columns):
company                21996 non-null object
education              20004 non-null object
experience             21996 non-null object
industry               21995 non-null object
jobdescription         21996 non-null object
jobid                  22000 non-null int64
joblocation_address    21499 non-null object
jobtitle               22000 non-null object
numberofpositions      4464 non-null float64
payrate                21903 non-null object
postdate               21977 non-null object
site_name              3987 non-null object
skills                 21472 non-null object
uniq_id                22000 non-null object
dtypes: float64(1), int64(1), object(12)
memory usage: 2.3+ MB

In [44]:
df['company'] = df['company'].astype(str)
df['numberofpositions'] = df['numberofpositions'].astype(str)
df['jobid'] = df['jobid'].astype(str)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 14 columns):
company                22000 non-null object
education              20004 non-null object
experience             21996 non-null object
industry               21995 non-null object
jobdescription         21996 non-null object
jobid                  22000 non-null object
joblocation_address    21499 non-null object
jobtitle               22000 non-null object
numberofpositions      22000 non-null object
payrate                21903 non-null object
postdate               21977 non-null object
site_name              3987 non-null object
skills                 21472 non-null object
uniq_id                22000 non-null object
dtypes: object(14)
memory usage: 2.3+ MB

In [46]:
from sklearn.preprocessing import LabelEncoder

# convert str values to int using the scikit-learn encoder

st = df.apply(LabelEncoder().fit_transform)

st.head()

TypeError: ('argument must be a string or number', 'occurred at index education')

In [25]:
X = df.iloc[:,:-1].values
y = df.iloc[:,1].values

In [26]:
X

array([['MM Media Pvt Ltd',
        'UG: B.Tech/B.E. - Any Specialization PG:Any Postgraduate - Any Specialization, Post Graduation Not Required',
        '0 - 1 yrs', ..., '2016-05-21 19:30:00 +0000', nan, 'ITES'],
       ['find live infotech',
        'UG: B.Tech/B.E. - Any Specialization PG:MBA/PGDM - Any Specialization',
        '0 - 0 yrs', ..., '2016-05-21 19:30:00 +0000', nan, 'Marketing'],
       ['Softtech Career Infosystem Pvt. Ltd',
        'UG: Any Graduate - Any Specialization PG:Any Postgraduate Doctorate:Doctorate Not Required',
        '4 - 8 yrs', ..., '2016-10-13 16:20:55 +0000', nan,
        'IT Software - Application Programming'],
       ...,
       ['Musk - Startup',
        'UG: B.Tech/B.E. - Any Specialization PG:Any Postgraduate Doctorate:Doctorate Not Required',
        '2 - 4 yrs', ..., '2016-11-25 22:47:05 +0000', 'www.naukri.com',
        'IT Software - Application Programming'],
       ['Confidential',
        'UG: B.Tech/B.E. - Any Specialization PG:MCA - Computers, M.Tech - Any Specialization Doctorate:Doctorate Not Required',
        '7 - 12 yrs', ..., '2016-11-27 22:47:05 +0000', 'www.naukri.com',
        'IT Software - Application Programming'],
       ['Cambio Consulting India Pvt Ltd',
        'UG: B.Tech/B.E. - Any Specialization PG:MCA - Computers, M.Tech - Any Specialization',
        '5 - 10 yrs', ..., '2016-11-25 22:47:05 +0000', 'www.naukri.com',
        'IT Software - System Programming']], dtype=object)

In [27]:
y

array(['UG: B.Tech/B.E. - Any Specialization PG:Any Postgraduate - Any Specialization, Post Graduation Not Required',
       'UG: B.Tech/B.E. - Any Specialization PG:MBA/PGDM - Any Specialization',
       'UG: Any Graduate - Any Specialization PG:Any Postgraduate Doctorate:Doctorate Not Required',
       ...,
       'UG: B.Tech/B.E. - Any Specialization PG:Any Postgraduate Doctorate:Doctorate Not Required',
       'UG: B.Tech/B.E. - Any Specialization PG:MCA - Computers, M.Tech - Any Specialization Doctorate:Doctorate Not Required',
       'UG: B.Tech/B.E. - Any Specialization PG:MCA - Computers, M.Tech - Any Specialization'],
      dtype=object)

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 1/3, random_state = 0)

In [29]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

ValueError: could not convert string to float: 'InterProducTec GmbH'